* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    background: #f3f3f3;
}

button {
    width: 5rem;
    height: 40px;
    border-radius: 10px;
}

.container {
    /* background-image: url('../imgs/Start.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    text-align: center;
    color: red;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    text-align: center;
    border: 2px solid black;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    border: 5px solid red; 
}

.total img {
    width: 25%;
    height: 15vh;
    background-color: black;
}
