@media screen and (max-width: 600px) {
   .container {
       text-align: center;
   }

   .title{
       text-align: center;
   }

   /* .justify-center {
       display: flex;
       flex-direction: column;
       text-align: center;
   } */

   /* hud */
   #hud {
       display: flex;
       flex-direction: column;
   }


   h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
   
}